# Dependencies
/vendor/

# Configuration and Secrets
apppass.txt
.env

# XAMPP / Local Specific
php.ini
.htaccess.local

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Backups and zips
*.zip
*.rar
*.7z
/scratch/
/food-verse/

# Application Specific
/uploads/*
!/uploads/.gitkeep
/images/temp/*

# OS Files
Thumbs.db
Desktop.ini
.DS_Store
